Q1

A dataBase is an organised collection of data. There are various database managment software avalaible for Properly managing our data For example MYSQL etc.
There is a difference between SQL(structured query language) and NOSQL(not only structured query language).SQL database are Relational database that store data in tables with predefined relation between them.There are  various databse managment software which are availaible for managing database for example Oracle,MYSQL.
on the other hand NOSQL is no relational database it can store data in various format. it provide more flexibility to your database. NOSQL is generally used for those data which are very large in number

Q2

The full form of DDL is data definition language. It is generally used for credating the structure of the database.It is used to create,modify,delete the data from the database.It contain various commands like CREATE ,DROP,ALTER and Truncate.

In [2]:
#CREATE TABLE student(
# name varchar(50),
# rollno int,
# library_id varchar(20)
# );

In [3]:
#DROP TABLE student
#it is used to drop the entire database

In [4]:
#ALTER TABLE student ADD emailid varchar(50)
#It is used to Add a new attribute to your database

In [6]:
#TRUNCATE TABLE student
#we can use truncate to delete the entire row but the structure of the entire column will remain same,constraints remain same
#There is a difference between truncate and drop , drop is used to drop the netire databae but truncate is used to drop the rows

Q3

DATA manipulation language is basically used to manipulate your database. we can use DML to insert,update,delete yor database.

In [8]:
#INSERT INTO student(name,rollno,emailid)VALUES('Saurabh',05,'saurabh.2024cs1064@kiet.edu')

In [9]:
#UPDATE student SET rollno=08 where name='Saurabh'

Q4:

DQL stands for Data query Language .It is used to retrieve data from the database. It contain "SELECT" as the its commands

In [14]:
#SELECT *FROM student
#It is used to retrive all the rows and column from the database

Q5

In a relational database, a primary key is a unique identifier for each row in a table. It is used to ensure that each row is uniquely identifiable and can be referenced from other tables. A primary key is typically a column or a set of columns that is designated as the primary key for a table.

For example, in a table named "orders", the "order_id" column could be designated as the primary key, ensuring that each order in the table has a unique identifier.

A foreign key, on the other hand, is a column or a set of columns in one table that refers to the primary key of another table. It is used to establish a relationship between two tables, allowing data to be linked and queried across tables.

For example, in a table named "order_details", the "order_id" column could be designated as a foreign key, linking the "order_details" table to the "orders" table. This allows data from both tables to be queried together, such as retrieving all order details for a specific order.

Q6:

In [15]:
# import mysql.connector

# mydb = mysql.connector.connect(
#   host="localhost",
#   user="username",
#   password="password",
#   database="databasename"
# )

# mycursor = mydb.cursor()

# mycursor.execute("SELECT * FROM customers")

# result = mycursor.fetchall()

# for row in result:
#   print(row)

Q7

The order of execution of SQL clauses in an SQL query is as follows:

FROM - specifies the table(s) to retrieve data from
JOIN - combines data from multiple tables
WHERE - filters the rows based on a specified condition
GROUP BY - groups the rows based on a specified column
HAVING - filters the groups based on a specified condition
SELECT - selects the columns to retrieve data from
DISTINCT - removes duplicates from the result set
ORDER BY - sorts the result set based on a specified column or columns
LIMIT - limits the number of rows returned by the query
Note that not all clauses are required in every query and that the order of execution may vary depending on the specific query being executed.




Regenerate resp