Q1

In [1]:
import pandas as pd

In [2]:
df=[4, 8, 15, 16, 23,42]

In [3]:
num=pd.Series(df)

In [4]:
type(num)

pandas.core.series.Series

In [5]:
for i in num:
    print(i)

4
8
15
16
23
42

Q2

In [6]:
df1=[4, 8, 15, 16, 23,42,12,53,32,87]

In [7]:
type(df1)

list

In [8]:
num1=pd.Series(df1)

In [9]:
type(num1)

pandas.core.series.Series

In [10]:
for i in num1:
    print(i)

4
8
15
16
23
42
12
53
32
87

Q3

In [12]:
data=[['Alice',25,'Female'],['Bob',30,'Male'],['claire',27,'Female']]
df2=pd.DataFrame(data,columns=['Name','Age','Gender'])
print(df2)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  claire   27  Female

Q4

Dataframe is two dimensional labelled data structure where each column can contain different data types Such as numeric,string,int
Serires is a one dimensional labelled array that contain data of any type,include numeric,string,int

Example:

In [13]:
data_1={'Name':['Saurabh','Shakti','Shivanshu'],'Roll_no':[5,8,18],'Section':['C','C','C']}
df4=pd.DataFrame(data_1)

df4

In [15]:
num1= pd.Series([10, 20, 30, 40, 50])
print(num1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

Q5

Pandas offers a rich set of functions to manipulate data in a DataFrame. Here are some common functions that are frequently used:

head(n) - returns the first n rows of the DataFrame.

In [20]:

data5= {'Name': ['John', 'Emma', 'Tom', 'Kelly', 'Alex'],
        'Age': [25, 30, 35, 40, 45],
        'Salary': [50000, 60000, 70000, 80000, 90000]}
df7= pd.DataFrame(data5)

print(df7.head(2)) # returns first 2 rows of the DataFrame

   Name  Age  Salary
0  John   25   50000
1  Emma   30   60000

tail(n) - returns the last n rows of the DataFrame.

In [21]:
print(df7.tail(2))

    Name  Age  Salary
3  Kelly   40   80000
4   Alex   45   90000